/* Inter Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ====Color Variables===== */
:root{
    --white:#fff;
    --black:#000;
    --purple:#6928D3;
}

/* ==x==Color Variables==x=== */

/* Custom Classes */
a{
    text-decoration: none;
}
ul{
    padding: 0px;
    margin: 0px;
}
.relative{
    position: relative;
}
li{
    list-style-type: none;
}
.cursor{
    cursor: pointer;
}
input:focus{
  box-shadow: none !important;

  
}
h1,h2,h3,h4,h5,h6,p,span{
  padding: 0px;
  margin: 0px;
}
.relative{
  position: relative;
}

/* Fonts classes */
.section-heading{
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.section-heading1{
  color: #FFF;
font-family: Poppins;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.section-heading2{
  font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.section-heading3{
  color: #6928D3;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
text-transform: capitalize;
}
.font-sm{
  color: var(--www-deliverect-com-nero, #FFF);
font-family: Poppins;
font-size: 16.031px;
font-style: normal;
font-weight: 400;
line-height: 22.5px; /* 140.351% */
}
.font-sm1{
  color: #FFF;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 29px;
opacity: var(--sds-size-stroke-border);
}
.font-sm2{
  color: #9698A5;
/* text-align: center; */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.font-sm3{
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.font-sm4{
  color: #FFF;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.font-sm5{
  color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* Custom Classes */

body{
    font-family: "Inter", sans-serif;
    background: #f4f0fb;
    overflow-x: hidden;
}

.bg-purple{
  background: #6928D3;
}
.radius-15{
  border-radius: 15px;
}

.text-grey{
  color:#676767;
}
.text-purple{
  color: var(--purple);

}


/* MARK:NavBar */

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background: var(--black) !important;
}


  .nav-mobile {
    position: relative;
    overflow: hidden;
    padding: 10px;
  }

  .nav-mobile::before {
    content: '';
    position: absolute;
    top: -100%; /* Start off the top of the element */
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#ccc; /* Adjust the color and opacity as needed */
    transition: top 0.3s ease; /* Smooth transition */
    z-index: -1;
    border-radius: 3px;
  }

  .nav-mobile:hover::before {
    top: 0; /* Slide down into view on hover */
  }

  /* MARK:MainArea */
  .bg-area{
    background-image: url('../images/bg-image.png');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 100px 100px;
  }

  
button.bg-purple{
  background: #6928D3;
  color: white;
}
button.bg-purple:hover{
  color: white;
  background: transparent;
  border: 2px solid #6928D3;
}
button.bg-white{
  background-color: white;
  color: #000;
}
button.bg-white:hover{
  color: black;
  background: transparent;
  border: 2px solid white;
}
button.bg-black{
  border-radius: 10px;
  opacity: var(--sds-size-stroke-border);
  background: #18181A;
  color: var(--white);
}
.text-purple{
  color: var(--purple);
}
button.bg-darkpurple{
border: 2px #9159FA;
color: white;

opacity: var(--sds-size-stroke-border);

background: #9159FA;
}
button.bg-darkpurple:hover{
  color: white;
  background: transparent;
  border: 2px solid #9159FA;
}




.main-form{
  width:436px ;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.section1-overlay{
  background: white;
  padding: 15px 10px;
  border-radius: 0px 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;

}
.sectionImg{
  height: 205px;
}
.sectionImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Trusted by */
#trustedby .subbox h2{
  font-family: Inter;
font-size: 130px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
opacity: var(--sds-size-stroke-border);

background: linear-gradient(90deg, #6928D3 20.62%, #CFB7F9 97.18%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#trustedby .subbox p{
  color: #000;

font-family: Inter;
font-size: 32.613px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

/* Nothing */
#nothing{
  height: 400px;
  background-image: url('../images/nothing.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

#faqs .quotes{
  color: #000;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
#faqs .subbox{
  padding: 80px 48px 48px 48px;
}
#faqs .quotes-image{
  position: absolute;
  top: -40px;

}

footer{
  border-radius: 70px 0px 0px 0px;
}
footer ul li a{
  color: #676767;
}
.underline{
  text-decoration: underline;
  font-size: 14px;
}


/* contact section css================== */
.bg-area-contact{
  background-image: url('../images/contact-us.png');
  min-height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 100px 100px;
}

.conatct-card{
 max-width: 100%;
  min-height: 400px;
  border-radius: var(--Padding-Navbar-Collapsed, 16px);
border: 3px solid rgba(229, 229, 229, 0.33);
opacity: var(--sds-size-stroke-border);
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0px 36px 10px 0px rgba(214, 214, 214, 0.00), 0px 23px 9px 0px rgba(214, 214, 214, 0.01), 0px 13px 8px 0px rgba(214, 214, 214, 0.05), 0px 6px 6px 0px rgba(214, 214, 214, 0.09), 0px 1px 3px 0px rgba(214, 214, 214, 0.10);
}
.card-gradient{
  background: linear-gradient(354deg, #9159FA 8.96%, #442B74 93.24%);
}
.contact-circle{
  width: 110px;
height: 110px;
flex-shrink: 0;
border-radius: 50%;
border: 3px solid rgba(229, 229, 229, 0.33);
opacity: var(--sds-size-stroke-border);
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
}
 .contact-overlay{
  color: white;
  padding: 15px 20px;
  border-radius: 0px 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
 }
 .contact-overlay p{
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 5400;
  line-height: 19px;
 }
 .getstarted-contact{
  width: 100%;
  min-height: 200px;
  border-radius: 8px;
  opacity: var(--sds-size-stroke-border);
  
  background: #9159FA;
 }
 .footer-social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }
 .footer-social-icon i{
  font-size: 21px;
 }


 /* pricing section=============== */
 .bg-area-pricing{
  background-image: url('../images/bg-pricing.png');
  min-height: 480px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px 0px 100px 100px;

 }
 .solution-card{
  max-width: 100%;
  min-height: 300px;
  border-radius: var(--Padding-Navbar-Collapsed, 16px);
border: 3px solid rgba(229, 229, 229, 0.33);
opacity: var(--sds-size-stroke-border);
background: #FFF;
display: flex;
flex-direction: column;
box-shadow: 0px 36px 10px 0px rgba(214, 214, 214, 0.00), 0px 23px 9px 0px rgba(214, 214, 214, 0.01), 0px 13px 8px 0px rgba(214, 214, 214, 0.05), 0px 6px 6px 0px rgba(214, 214, 214, 0.09), 0px 1px 3px 0px rgba(214, 214, 214, 0.10);

 }
 .solution-circle{
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 3px solid rgba(229, 229, 229, 0.33);
  opacity: var(--sds-size-stroke-border);
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .bg-area-option{
  background-image: url("../images/bg-option.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  width: 100%;
}

.option-card{
  max-width: 100%;
  min-height: 500px;
border-radius: 20px;
border: 1px solid #FFF;
opacity: var(--sds-size-stroke-border);
background: rgba(72, 72, 72, 0.36);
backdrop-filter: blur(21.04482650756836px);
display: flex;
align-items: center;
flex-direction: column;
box-shadow: 0px 36px 10px 0px rgba(214, 214, 214, 0.00), 0px 23px 9px 0px rgba(214, 214, 214, 0.01), 0px 13px 8px 0px rgba(214, 214, 214, 0.05), 0px 6px 6px 0px rgba(214, 214, 214, 0.09), 0px 1px 3px 0px rgba(214, 214, 214, 0.10);

}
.option-card.bg-dark-purple{
  border-radius: 20px;
opacity: var(--sds-size-stroke-border);

background: linear-gradient(354deg, rgba(145, 89, 250, 0.77) 8.96%, rgba(68, 43, 116, 0.77) 93.24%);

backdrop-filter: blur(21.04482650756836px);
}
.list-style{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-style li{
  list-style-type: disc;
}
.corner-option {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 20px 0px 20px;
}


 }
